<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1> Register Page</h1>

    {% if form.errors %}
        <div style="color: red; margin: 10px 0; padding: 10px; border: 1px solid red; background-color: #ffe6e6;">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <form method ="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.phone_number }}
        {{ form.submit }}
    </form>

</body>
</html>