<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shower</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Book Your Shower Slot</h1>
        
        {% if error %} 
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}

        <form method ="POST" action="{{ url_for('showers.book_shower', shower_id=shower_id) }}">
            {{ form.hidden_tag() }}

            <label for="phone_number">Phone Number:</label>
            {{ form.phone_number(class="form-input") }}

            <label for="time_zone">Time Zone:</label>
            {{ form.time_zone(class="form-input") }} 
            
            {{ form.submit(class="form-submit-button") }}
        </form>

        <div class="dashboard-links">
            <a href="{{ url_for('showers.shower_list') }}" class="glass-button-link">Back to Showers</a>
        </div>

    </div>

    
</body>
</html>
