<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Schedule</title>
</head>
<body>
    <h2> Shower {{ shower_id }} Schedule </h2>
    <p>Available times:</p>
    
    <ul>
        {% for time in times %}
            <li>
                <form action="{{ url_for('showers.book_shower', shower_id=shower_id) }}" method="POST">
                    <input type="hidden" name="time_slot" value="{{ time }}">
                    <button type="submit">Book {{ time }}</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>