<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Showers </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="showers-container">
        <h2>Select a shower:</h2>

        <div class="shower-selection-grid">
            <a href="{{ url_for('showers.shower_schedule', shower_id=1) }}" class="glass-button-link">
                <h3>Shower 1</h3>
            </a>
            <a href="{{ url_for('showers.shower_schedule', shower_id=2) }}" class="glass-button-link">
                <h3>Shower 2</h3>
            </a>
            <a href="{{ url_for('showers.shower_schedule', shower_id=3) }}" class="glass-button-link">
                <h3>Shower 3</h3>
            </a>
            <a href="{{ url_for('showers.shower_schedule', shower_id=4) }}" class="glass-button-link">
                <h3>Shower 4</h3>
            </a>
        </div>

        <div class="settings-links">
            <a href="{{ url_for('home.dashboard') }}" class="glass-button-link">Dashboard</a>
            <a href="{{ url_for('home.logout') }}" class="glass-button-link">Logout</a>
        </div>
    </div>
</body>
</html>