<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Showers </title>
</head>
<body>
    <h2> Select a shower: </h2>

    <a href="{{ url_for('showers.shower_detail', shower_id=1) }}">
        <h3> Shower 1 </h3>
    </a>
    <a href="{{ url_for('showers.shower_detail', shower_id=2) }}">
        <h3> Shower 2 </h3>
    </a>
    <a href="{{ url_for('showers.shower_detail', shower_id=3) }}">
        <h3> Shower 3 </h3>
    </a>
    <a href="{{ url_for('showers.shower_detail', shower_id=4) }}">
        <h3> Shower 4 </h3>
    </a>
</body>
</html>