<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Login Page</h1>

    {% if error %}
        <div style="color: red; margin: 10px 0; padding: 10px; border: 1px solid red; background-color: #ffe6e6;">
            {{ error }}
        </div>
    {% endif %}

    <form method ="POST" action="">
        {{ form.hidden_tag()}}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
     <a href="{{ url_for('home.register') }}">New here? Sign up!</a><br>
</body>
</html>