<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Complete your profile !</h1>

        {# Error Message Styling #}
        {% if form.errors %}
            <div class="error-message">
                <ul>
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <label for="school">Select School:</label><br>
            {{ form.school(class="form-select") }}
            <br>
            <label for="dorm">Select Dorm:</label><br>
            {{ form.dorm(class="form-select") }}
            <br>
            {{ form.submit }}<br>
        </form>
    </div>
</body>
</html>